Django==1.8.4
djangorestframework==3.4.7
django-cors-headers
django-haystack
drf-haystack
django-filter
django-redis-cache
drf-cached-instances
hiredis==0.1.5
pysolr
sphinx
sphinx-autobuild
recommonmark
sphinx_rtd_theme
django-grappelli
